/* Estilos globales */
body {
    background-color: #333;
    color: #cec6c6;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.particles {
    position: fixed;
    display: flex;
    z-index: -2;
    padding: 0 20px;
}

.particles span {
    position: relative;
    bottom: 30px;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    -100px 0 #4fc3dc99,
    100px 0 #ff2d7599;
    margin: 0 4px;
    border-radius: 50%;
    animation: animate 15s ease-in-out infinite;
    animation-duration: calc(125s / var(--i));
}

.particles span:nth-child(even) {
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544,
    0 0 50px #ff2d75,
    -100px 0 #4fc3dc99,
    100px 0 #4fc3dc99;
}

@keyframes animate {
    0% {
        transform: translateY(120vh) scale(0) rotate(90deg);
    }
    20% {
        transform: translateY(100vh) scale(1) rotate(0deg);
    }
    100% {
        transform: translateY(-50vh) scale(0.5) rotate(360deg);
    }
}

/* Estilos para el header */
header {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 20px;
    display: flex;
    align-items: center;
}

/* Estilos para la imagen en el header */
header img {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

header h1 {
    font-size: 36px;
    margin-bottom: 20px;
    background-color: #ff2d75; /* Cambia el color de fondo a tu elección */
    color: #000000; /* Cambia el color del texto a blanco o a tu elección */
    padding: 5px 5px; /* Añade relleno para que la caja se vea bien */
    border-radius: 10px; /* Agrega esquinas redondeadas */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); /* Agrega una sombra suave */
    display: inline-block; /* Hace que la caja se ajuste al texto */
    margin-right: 20px;
}

header h2 {
    font-size: 24px;
    margin-bottom: 20px;
    background-color: #4fc3dc99; /* Cambia el color de fondo a tu elección */
    color: #000000; /* Cambia el color del texto a blanco o a tu elección */
    padding: 10px 10px; /* Añade relleno para que la caja se vea bien */
    border-radius: 10px; /* Agrega esquinas redondeadas */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); /* Agrega una sombra suave */
    display: inline-block; /* Hace que la caja se ajuste al texto */
    margin-right: 20px;
}

#about h2 {
    font-size: 24px;
    margin-bottom: 20px;
    background-color: #4fc3dc99; /* Cambia el color de fondo a tu elección */
    color: #000000; /* Cambia el color del texto a blanco o a tu elección */
    padding: 10px 20px; /* Añade relleno para que la caja se vea bien */
    border-radius: 10px; /* Agrega esquinas redondeadas */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); /* Agrega una sombra suave */
    display: inline-block; /* Hace que la caja se ajuste al texto */
}

#about p {
    font-size: 18px;
    color: #ffffff;
}

/* Estilos para secciones */
section {
    margin: 30px;
}

#projects {
    text-align: center;
    margin-top: 20px;
    min-height:500px; /* Ajusta la altura según sea necesario */
}


#projects h2 {
    font-size: 24px;
    margin-bottom: 20px;
    background-color: #ff2d75; /* Cambia el color de fondo a tu elección */
    color: #000000; /* Cambia el color del texto a blanco o a tu elección */
    padding: 10px 20px; /* Añade relleno para que la caja se vea bien */
    border-radius: 10px; /* Agrega esquinas redondeadas */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); /* Agrega una sombra suave */
    display: inline-block; /* Hace que la caja se ajuste al texto */
}


.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.project-card {
    width: 28%; /* Redujimos un poco el ancho de las tarjetas */
    perspective: 1000px;
    margin: 0 10px;
    margin-bottom: 20px;
}

.imgFront {
    width: 100%;
    max-height: 100%;
    border-radius: 5%;
}

.project-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.project-card:hover .project-inner {
    transform: rotateY(180deg);
    width: 100%;
    border-radius: 5%;
}

.project-front,
.project-back {
    width: 100%;
    height: auto; /* Cambiamos la altura a "auto" para que se ajuste automáticamente al contenido */
    color: #000000;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.infoProyect {
    margin: 5%;
}

.project-front {
    background-color: #f0f0f0;
    border-radius: 5%;
}

.project-back {
    background-color: #cec6c6;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
    margin-bottom: 5px;
    border-radius: 5%;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.button-link {
    display: inline-block;
    padding: 5px 15px;
    background-color: #db00e2;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px; /* Ajustamos el margen para subir los botones un poco */
}

.button-link:hover {
    background-color: #fa10d3;
}

.iconGithub {
        width: 50px;
        height: 50px;
        background-color: #000000;
        border-radius: 5%;
        margin-left: 3%;
        border-radius: 10%;
        padding: 2%;
        margin-bottom: 5px;
    }

/* Estilos para Experiencia */
#experience {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#experience h2 {
    font-size: 24px;
    margin-bottom: 20px;
    background-color: #ff2d75; /* Cambia el color de fondo a tu elección */
    color: #000000; /* Cambia el color del texto a blanco o a tu elección */
    padding: 10px 20px; /* Añade relleno para que la caja se vea bien */
    border-radius: 10px; /* Agrega esquinas redondeadas */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); /* Agrega una sombra suave */
    display: inline-block; /* Hace que la caja se ajuste al texto */
}

#experience h3 {
    font-size: 16px; /* Ajusta el tamaño del título */
    margin-bottom: 5px; /* Reduce el margen inferior del título */
    background-color: #4fc3dc99; /* Cambia el color de fondo a tu elección */
    color: #000000; /* Cambia el color del texto a blanco o a tu elección */
    padding: 10px 20px; /* Añade relleno para que la caja se vea bien */
    border-radius: 10px; /* Agrega esquinas redondeadas */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); /* Agrega una sombra suave */
    display: inline-block; /* Hace que la caja se ajuste al texto */
}
#experience p {
    font-size: 18px;
    color: #ffffff;
}

/* Estilos para Certificaciones */
#certifications {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

#certifications h2 {
    font-size: 24px;
    margin-bottom: 20px;
    background-color: #ff2d75; /* Cambia el color de fondo a tu elección */
    color: #000000; /* Cambia el color del texto a blanco o a tu elección */
    padding: 10px 20px; /* Añade relleno para que la caja se vea bien */
    border-radius: 10px; /* Agrega esquinas redondeadas */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); /* Agrega una sombra suave */
    display: inline-block; /* Hace que la caja se ajuste al texto */
}

.certification {
    margin-bottom: 10px;
}

.certification h3 {
    font-size: 16px; /* Ajusta el tamaño del título */
    margin-bottom: 5px; /* Reduce el margen inferior del título */
    background-color: #4fc3dc99; /* Cambia el color de fondo a tu elección */
    color: #000000; /* Cambia el color del texto a blanco o a tu elección */
    padding: 10px 20px; /* Añade relleno para que la caja se vea bien */
    border-radius: 10px; /* Agrega esquinas redondeadas */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); /* Agrega una sombra suave */
    display: inline-block; /* Hace que la caja se ajuste al texto */
}

.certification p {
    font-size: 18px;
    color: #ffffff; /* Cambia el color del texto a blanco o a tu elección */
}

/* Estilos para enlaces de certificados */
a.cert-link {
    display: inline-block;
    font-weight: bold;
    padding: 8px 16px; /* Ajusta el relleno (padding) según tus preferencias */
    background-color: #ff2d75; /* Cambia el color de fondo a tu elección */
    color: #000000; /* Cambia el color del texto a blanco o a tu elección */
    text-decoration: none;
    border-radius: 5px; /* Agrega esquinas redondeadas */
    transition: background-color 0.3s; /* Agrega una transición para el color de fondo */
}

a.cert-link:hover {
    background-color: #4fc3dc99; /* Cambia el color de fondo al hacer hover */
}

#contact {
    margin-bottom: 10px;
}

#contact h2 {
    font-size: 24px;
    margin-bottom: 20px;
    background-color: #4fc3dc99; /* Cambia el color de fondo a tu elección */
    color: #000000; /* Cambia el color del texto a blanco o a tu elección */
    padding: 10px 20px; /* Añade relleno para que la caja se vea bien */
    border-radius: 10px; /* Agrega esquinas redondeadas */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); /* Agrega una sombra suave */
    display: inline-block; /* Hace que la caja se ajuste al texto */
}

#contact p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    background-color: #ff2d75; /* Cambia el color de fondo a tu elección */
    color: #000000; /* Cambia el color del texto a blanco o a tu elección */
    padding: 10px 20px; /* Añade relleno para que la caja se vea bien */
    border-radius: 10px; /* Agrega esquinas redondeadas */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); /* Agrega una sombra suave */
    display: inline-block; /* Hace que la caja se ajuste al texto */
}

/* Estilos para enlaces de contacto*/
.icon1 {
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 5%;
    border-radius: 25%;
    padding: 2%;
    margin-top: 10px;

}

.icon2 {
    width: 50px;
    height: 50px;
    background-color: #000000;
    border-radius: 5%;
    border-radius: 25%;
    padding: 2%;
    margin-top: 10px;
    margin-left: 10px;
}

/* Estilos para el pie de página */
footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 10px;
}
